<div class="form-check form-check-inline">
  <input type="checkbox" class="form-check-input" data-type="{{item_type}}" id="{{item_name}}">
  <label class="form-check-label itemsLabel" for="{{item_name}}">{{item_name}}</label>
</div>