<!-- The actual snackbar -->
<img src="./img/ketchup.png" style="width: 20rem;">
<div id="snackbar">Some text some message..</div>

{{!-- $("#snackbar").toggleClass("show");
setTimeout(() => { $("#snackbar").toggleClass("show"); }, 3000); --}}