<form id="burgerForm">
  <label for="burgerText">Burger Name 
    <input type="text" name="burgerText" id="burgerText" placeholder="Write here..." required>
  </label>

  <div class="row">
  <input id="burgerSubmit" class="burgerBtn" type="submit" value="Submit">
  </div>
  
  {{!-- <input id="burgerCustom" class="burgerBtn" type="button" data-toggle="modal" value="Custom"> --}}
</form>
  