{{!-- Ingredient portion of the customize page --}}
<div class="container-fluid customList">
  <div id="customRow" class="row customRow">
    <div class="col-7 customCol">

      {{!-- Creates a nav menu showing the four ingredient types --}}
      <div id="customRow1" class="row">
        <div class="col-3 customCol">
          {{> nav}}
        </div>

        {{!-- Nav tabs for each ingredient type and its listed items --}}
        <div id="ingredientNavTabs" class="col-7 customCol">
          {{> nav-tabs}}
        </div>
      </div>
      {{!-- Form to handle burger update --}}
      {{> form}}
    </div>

    {{!-- Column that displays the ingredients inside a burger bun --}}
    <div id="itemsIMG" class="col-5">
      {{> burgerModel}}
    </div>
    
  </div>
</div>