{{!-- Standard bootstrap nav menu showcasing the ingredient types. Currently, it is hardcoded and can be changed to accept dynamic rendering with handlebars --}}
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" id="v-pills-meat-tab" data-toggle="pill" href="#v-pills-meat" role="tab" aria-controls="v-pills-meat" aria-selected="true"><h2><i class="fas fa-drumstick-bite"></i> Meat</h2></a>

  <a class="nav-link" id="v-pills-veggies-tab" data-toggle="pill" href="#v-pills-veggies" role="tab" aria-controls="v-pills-veggies" aria-selected="false"><h2><i class="fas fa-leaf"></i> Veggies</h2></a>

  <a class="nav-link" id="v-pills-cheese-tab" data-toggle="pill" href="#v-pills-cheese" role="tab" aria-controls="v-pills-cheese" aria-selected="false"><h2><i class="fas fa-cheese"></i> Cheese</h2></a>

  <a class="nav-link" id="v-pills-dressing-tab" data-toggle="pill" href="#v-pills-dressing" role="tab" aria-controls="v-pills-dressing" aria-selected="false"><h2><i class="fas fa-wine-bottle"></i> Dressing</h2></a>
</div>