{{!-- Index page which renders the logo, eaten and uneaten list, and submit form --}}
<header>
  {{> header}}
</header>

<main>
  {{> burgerList}}
  {{> form}}
</main>

<footer>
{{!-- {{> footer}} --}}
</footer>