<h1>All burgers</h1>

<div class="col-container">
  <ul id="burgerFalseUL">
    {{#each burgers}}
      {{#unless devoured}}
        {{> burgerStatus devoured=false}}
      {{/unless}}
    {{/each}}
  </ul>

  <ul class="col">
    {{#each burgers}}
      {{#if devoured}}
        {{> burgerStatus devoured=true}}
      {{/if}}
    {{/each}}
  </ul>
</div>

<form id="burgerForm">
   <label for="burgerText">Burger Name</label>
    {{!-- <textarea id="burgerText" name="burgerText" placeholder="Write something.." style="height:200px"></textarea> --}}
    <input type="text" name="burgerText" id="burgerText" placeholder="Write here..." required>
    <input type="submit" value="Submit">
</form>