*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffcb6a;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#headerA {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

#headerImg {
  height: 15rem;
  margin-bottom: 1rem;
}

#burgerList {
  /* margin-bottom: 3rem; */
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  margin: 0 0 30px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 0px;
  background: #eee;
  font-size: 1.8rem;
  transition: 0.2s;
  list-style-type: none; /* Remove bullets */
  margin-bottom: 5px; 
  text-align: center;
  /* make the list items unselectable */
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; */
  user-select: none;
}

ul li span:hover {
  background: rgb(214, 170, 23);
  border-radius: 10px;
}

.listUl {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: khaki;
  width: 45rem
  /* width: 35vw */
}

.listTitle {
  text-decoration: underline;
}

.uneatenLi {
  width: 40rem;
  text-align: left;
  background: none;
  margin-bottom: 30px;
}

.eatenLi {
  width: 40rem;
  background: none;
  text-align: left;
}

.uneatenSpan {
  padding: 10px;
}

.eatenSpan {
  padding: 10px;
  text-decoration: line-through;
}

/* Submit Button */
label {
  cursor: default;
}

.devour, .undevour {
  float: right;
  font-size: 1.5rem;
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#burgerForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  align-items: center;
}

#burgerSubmit {
  /* margin-right: 20px; */
}

.burgerBtn {
  padding: 15px 25px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #792c5e;;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.burgerBtn:hover {
  background-color:#a723aca4;
}

.burgerBtn:active {
  background-color: #a723aca4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

 /* The snackbar - position it at the bottom and in the middle of the screen */
 #snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
} 